* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #23a6d5);
  background-size: 400%, 400%;
  position: relative;
} */

.expense {
  color: #c0392b;
}

.income {
  color: #2ecc71;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%, 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.box {
  text-align: center;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%, 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.notfound {
  background-color: gray;
  color: #fff;
}
